/* Reiniciando los estilos globales  */
*::after,  
*::before,

/* Estilos Globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color: #333
}


span, p, h1, h2, h3, figure, button{
    user-select: none;
}

p{
    font-family: poppins;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}
.icono-carrito{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.contenedor-carrito-icono:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}


/* Header (Titulo - Carrito - Menu del carrito) */

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.contenedor-carrito{
    position: relative;
}

.contador-productos{
    position: absolute;
    top: 55%; 
    right: 0; 
    background-color: #000;
    color: #fff; 
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center ;
    border-radius: 50%;
    
}

#contador-productos{
    font-size: 12px;    
}

.contenedor-productos-carrito{
position: absolute;
top: 50px;
background-color: #fff;
width: 400px;
right: 0;
z-index: 1;
box-shadow: 0 10px 20px rgba(0,0,0,0.20 );
border-radius: 10px;
}

.producto-seleccionado{
    display:flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.20 );
    align-items: center;
}

.info-producto-seleccionado{
    display:flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-seleccionado{
    font-size: 20px;
}

.precio-producto-seleccionado{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-seleccionado{
    font-weight: 400;
    font-size: 20px;
}

.icono-cerrar{
    width: 25px;
    height: 25px;
}

.icono-cerrar:hover{
    stroke: red;
    cursor: pointer;
}

.carrito-total{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.carrito-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.ocultar{
    display:none;
}


/* Main (Productos en venta) */

.contenedor-productos-ofrecidos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.669);
}

.item img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item:hover img{
    transform: scale(1.2);
}

.item figure{
    overflow: hidden;
}

figure{
    position: relative;
}

.info-producto-ofrecido{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 900 ;
}

.info-producto-ofrecido button{
    border:none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer; 
    border-radius: 1%;
}

.carrito-vacio{
    padding: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .contenedor-productos-ofrecidos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    
    header h1{
        margin-left: 10px;
    }

    .contenedor-productos-ofrecidos{
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-productos-carrito{
        width:350px;
    }

    .info-producto-seleccionado{
        display:flex;
        justify-content: space-between;
        /* la informacion aparece toda junta, pegada, porque esta ocupando el mismo espacio */
        /* para poder decirle que ocupe mas espacio ponemos el siguiente comando */
        flex: 0.8;
    }

    .cantidad-producto-seleccionado{
        margin-right: 7px;
    }

    .titulo-producto-carrito {
        width: 100px;
    }

    .icono-cerrar{
        margin-left: 10px;
    }

}


@media (max-width: 480px) {

    header h1{
        margin-left: 10px;
    }

    .contenedor-productos-ofrecidos{
        grid-template-columns: 1fr;
    }

    .contenedor-productos-carrito{
        width:250px;
    }

    .info-producto-seleccionado{
        display:flex;
        justify-content: space-between;
        /* la informacion aparece toda junta, pegada, porque esta ocupando el mismo espacio */
        /* para poder decirle que ocupe mas espacio ponemos el siguiente comando */
        flex: 1.8;
    }

    .cantidad-producto-seleccionado{
        margin-right: 7px;
    }

    .titulo-producto-seleccionado {
        width: 100px;
    }

    .icono-cerrar{
        margin-left: 20px;
        scale: 2;
    }

}

#barraDeProgreso{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 8px;
    background: linear-gradient(to right, #ffffff25, #f7d2d2b6);
    transition: width .3s ease-out;
}

.superposicion{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* background-color: rgba(173, 212, 33, 0.283); */
opacity: 2;
transition: opacity 0.5s ease;
}

figure:hover .superposicion{
opacity: 1;
}

figure:hover .imagen{
    transform: scale(1.55);
    
}


